.Chat
    .RightHeder-group
        
        .groupname
            =@group.name
            %ul.groupname__menberlist
                Member:
                %li.groupname__menbername
                    - @group.users.each do |user|
                        =user.name

        = link_to edit_group_path(@group.id),class: "RightHeader__EditBtn"  do
            Edit
 
    .Message_box
        = render @messages
        
    .Footer
        = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
            .Form-contents
                = f.text_field :content, class: "Form-contents__message", placeholder: 'type a message'
                = f.label :image, class: "Form-contents__image" do
                    = icon('fas', 'image')
                    = f.file_field :image, class: "Form-contents__image__file"
            = f.submit 'Send', class: 'Form__submit'
